---
breadcrumb: <%= vars.product_name_full %> Documentation
title: PAS Developer Guide
owner: <%= vars.product_name %> Documentation
---

The topics in this subsection serve as a guide for PAS developers. They explain how to develop, run, and manage apps on Pivotal Application Service (PAS).


## <a id='overview'></a> Overview

Developing, running, and managing apps on PAS may include:

* Deploying and scaling apps with diverse languages, frameworks, and dependencies
* Finding software services in the services marketplace, such as databases, email, or message servers
* Creating your own Cloud Foundry service based on an external server
* Creating service instances and binding them to your apps
* Streaming app logs to an external log management service
* Troubleshooting app deployment and health

If you do these things, you are a PAS **Developer**, and the contents of this guide are for you.


## <a id='contents'></a> Guide Contents

* [Deploying Apps](/pivotalcf/devguide/index.html) - Deploying and managing apps on Linux or Windows cells or Docker containers.

  - [Considerations for Designing and Running an App in the Cloud](/pivotalcf/devguide/deploy-apps/prepare-to-deploy.html)

  - [Pushing an App](/pivotalcf/devguide/deploy-apps/deploy-app.html)

  - [Deploying .NET Apps to Windows Cells](/pivotalcf/windows2012r2/push-windows-apps.html)

  - [Deploying a Large App](/pivotalcf/devguide/deploy-apps/large-app-deploy.html)

  - [Deploying an App with Docker](/pivotalcf/devguide/deploy-apps/push-docker.html)

  - [Starting, Restarting, and Restaging Apps](/pivotalcf/devguide/deploy-apps/start-restart-restage.html)

  - [App Container Lifecycle](/pivotalcf/devguide/deploy-apps/app-lifecycle.html)

  - [Deploying with App Manifests](/pivotalcf/devguide/deploy-apps/manifest.html)

  - [Running Tasks](/pivotalcf/devguide/using-tasks.html)

  - [Scaling an App Using cf scale](/pivotalcf/devguide/deploy-apps/cf-scale.html)

  - [Using Blue-Green Deployment to Reduce Downtime and Risk](/pivotalcf/devguide/deploy-apps/blue-green.html)

  - [Routes and Domains](/pivotalcf/devguide/deploy-apps/routes-domains.html)

  - [Cloud Foundry Environment Variables](/pivotalcf/devguide/deploy-apps/environment-variable.html)

  - [Trusted System Certificates](/pivotalcf/devguide/deploy-apps/trusted-system-certificates.html)

* [Services](/pivotalcf/services/index.html) - Using software services from your apps.

  - [Services Overview](/pivotalcf/devguide/services/index.html)

  - [Managing Service Instances](/pivotalcf/devguide/services/managing-services.html)

  - [Managing Service Keys](/pivotalcf/devguide/services/service-keys.html)

  - [User-Provided Service Instances](/pivotalcf/devguide/services/user-provided.html)

  - [Manage App Requests with Route Services](/pivotalcf/devguide/services/route-binding.html)

  - [Binding Credentials](/pivotalcf/services/binding-credentials.html)

  - [Configuring Play Framework Service Connections](/pivotalcf/devguide/services/play-service-bindings.html)

  - [Delivering Service Credentials to an App](/pivotalcf/devguide/services/application-binding.html)

  - [Using an External Filesystem (Volume Services)](/pivotalcf/devguide/services/using-vol-services.html)

* [Using Apps Manager](/pivotalcf/console/index.html) - A dashboard for managing apps, services, and PAS user accounts.

  - [Getting Started with Apps Manager](/pivotalcf/console/dev-console.html)

  - [Managing Orgs and Spaces Using Apps Manager](/pivotalcf/console/manage-spaces.html)

  - [Managing User Roles with Apps Manager](/pivotalcf/console/console-roles.html)

  - [Managing Apps and Service Instances Using Apps Manager](/pivotalcf/console/manage-apps.html)

  - [Viewing ASGs in Apps Manager](/pivotalcf/console/space-asgs.html)

  - [Configuring Spring Boot Actuator Endpoints for Apps Manager](/pivotalcf/console/spring-boot-actuators.html)

  - [Using Spring Boot Actuator Endpoints with Apps Manager](/pivotalcf/console/using-actuators.html)

* [App Logging in Cloud Foundry](/pivotalcf/devguide/deploy-apps/streaming-logs.html) - Outputting and processing app logs.

  - [Overview of the Loggregator System](/pivotalcf/loggregator/architecture.html)

  - [App Log Streaming](/pivotalcf/services/app-log-streaming.html)

  - [Streaming App Logs to Log Management Services](/pivotalcf/devguide/services/log-management.html)

  - [Service-Specific Instructions for Streaming App Logs](/pivotalcf/devguide/services/log-management-thirdparty-svc.html)

  - [Streaming App Logs to Splunk](/pivotalcf/devguide/services/integrate-splunk.html)

  - [Streaming App Logs with Fluentd](/pivotalcf/devguide/services/fluentd.html)

  - [Streaming App Logs to Azure OMS Log Analytics](/pivotalcf/devguide/services/oms-nozzle.html)

  - [Installing the Loggregator Plugin for cf CLI](/pivotalcf/loggregator/cli-plugin.html)

* [Buildpacks](/pivotalcf/buildpacks/index.html) - Language-specific packaging that compiles and builds apps and all dependencies to run in the cloud.

  - [About Buildpacks](/pivotalcf/buildpacks/using-buildpacks.html)

  - [Binary](/pivotalcf/buildpacks/binary/index.html)

  - [Go](/pivotalcf/buildpacks/go/index.html)

  - [Java](/pivotalcf/buildpacks/java/index.html)

  - [.NET Core](/pivotalcf/buildpacks/dotnet-core/index.html)

  - [Node.js](/pivotalcf/buildpacks/node/index.html)

  - [PHP](/pivotalcf/buildpacks/php/index.html)

  - [Python](/pivotalcf/buildpacks/python/index.html)

  - [Ruby](/pivotalcf/buildpacks/ruby/index.html)

  - [Staticfile](/pivotalcf/buildpacks/staticfile/index.html)

  - [Customizing and Developing Buildpacks](/pivotalcf/buildpacks/developing-buildpacks.html)

* [Troubleshooting App Deployment and Health](/pivotalcf/devguide/deploy-apps/troubleshoot-app-health.html) - Tools and techniques for monitoring app health and logging into apps and service instances.

  - [Using App Health Checks](/pivotalcf/devguide/deploy-apps/healthchecks.html)

  - [App SSH Overview](/pivotalcf/devguide/deploy-apps/app-ssh-overview.html)

  - [Accessing Apps with SSH](/pivotalcf/devguide/deploy-apps/ssh-apps.html)

  - [Accessing Services with SSH](/pivotalcf/devguide/deploy-apps/ssh-services.html)

* [<%= vars.product_name %> Dev](https://docs.pivotal.io/pcf-dev/index.html) - A lightweight PAS that runs on your workstation, for developing apps locally.

* [Cloud Controller API Client Libraries](/pivotalcf/devguide/capi/client-libraries.html) - Libraries for calling the Cloud Controller, the executive component of PAS, programmatically.

* [Cloud Foundry Command Line Interface (cf CLI)](/pivotalcf/cf-cli/index.html) - A CLI for calling the Cloud Controller, the executive component of PAS, interactively.

  - [Installing the cf CLI](/pivotalcf/cf-cli/install-go-cli.html)

  - [Getting Started with the cf CLI](/pivotalcf/cf-cli/getting-started.html)

  - [Identifying the API Endpoint for Your PAS Instance](/pivotalcf/opsguide/api-endpoint.html)

  - [Using the cf CLI with an HTTP Proxy Server](/pivotalcf/cf-cli/http-proxy.html)

  - [Using the cf CLI with a Self-Signed Certificate](/pivotalcf/cf-cli/self-signed.html)

  - [Using cf CLI Plugins](/pivotalcf/cf-cli/use-cli-plugins.html)

  - [Using Experimental cf CLI Commands](/pivotalcf/devguide/v3-commands.html)

  - [Cloud Foundry CLI Reference Guide](/pivotalcf/cf-cli/cf-help.html)
