---
breadcrumb: <%= vars.platform_name %> Documentation
title: PAS Developer Guide
owner: <%= vars.platform_name %> Documentation
---

The topics in this subsection serve as a guide for Pivotal Application Service (PAS) developers. They explain how to develop, run, and manage apps on PAS.


## <a id='overview'></a> Overview

Developing, running, and managing apps on PAS may include:

* Deploying and scaling apps with diverse languages, frameworks, and dependencies

* Finding software services in the services marketplace, such as databases, email, or message servers

* Creating your own PAS service based on an external server

* Creating service instances and binding them to your apps

* Streaming app logs to an external log management service

* Troubleshooting app deployment and health

If you do these things, you are a PAS **Developer**, and the contents of this guide are for you.


## <a id='contents'></a> Guide Contents

* [Deploying Apps](../devguide/index.html) - Deploying and managing apps on Linux or Windows Diego Cells or Docker containers.

  - [Considerations for Designing and Running an App in the Cloud](../devguide/deploy-apps/prepare-to-deploy.html)

  - [Pushing an App](../devguide/deploy-apps/deploy-app.html)

  - [Deploying .NET Apps](https://docs.pivotal.io/platform/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/develop.html)

  - [Deploying a Large App](../devguide/deploy-apps/large-app-deploy.html)

  - [Deploying an App with Docker](../devguide/deploy-apps/push-docker.html)

  - [Starting, Restarting, and Restaging Apps](../devguide/deploy-apps/start-restart-restage.html)

  - [App Container Lifecycle](../devguide/deploy-apps/app-lifecycle.html)

  - [Deploying with App Manifests](../devguide/deploy-apps/manifest.html)

  - [Running Tasks](../devguide/using-tasks.html)

  - [Scaling an App Using cf scale](../devguide/deploy-apps/cf-scale.html)

  - [Using Blue-Green Deployment to Reduce Downtime and Risk](../devguide/deploy-apps/blue-green.html)

  - [Routes and Domains](../devguide/deploy-apps/routes-domains.html)

  - [PAS Environment Variables](../devguide/deploy-apps/environment-variable.html)

  - [Trusted System Certificates](../devguide/deploy-apps/trusted-system-certificates.html)

* [Services](../services/index.html) - Using software services from your apps.

  - [Services Overview](../devguide/services/index.html)

  - [Managing Service Instances](../devguide/services/managing-services.html)

  - [Managing Service Keys](../devguide/services/service-keys.html)

  - [User-Provided Service Instances](../devguide/services/user-provided.html)

  - [Manage App Requests with Route Services](../devguide/services/route-binding.html)

  - [Binding Credentials](../services/binding-credentials.html)

  - [Configuring Play Framework Service Connections](../devguide/services/play-service-bindings.html)

  - [Delivering Service Credentials to an App](../devguide/services/application-binding.html)

  - [Using an External Filesystem (Volume Services)](../devguide/services/using-vol-services.html)

* [Using Apps Manager](../console/index.html) - A dashboard for managing apps, services, and PAS user accounts.

  - [Getting Started with Apps Manager](../console/dev-console.html)

  - [Managing Orgs and Spaces Using Apps Manager](../console/manage-spaces.html)

  - [Managing User Roles with Apps Manager](../console/console-roles.html)

  - [Managing Apps and Service Instances Using Apps Manager](../console/manage-apps.html)

  - [Viewing ASGs in Apps Manager](../console/space-asgs.html)

  - [Configuring Spring Boot Actuator Endpoints for Apps Manager](../console/spring-boot-actuators.html)

  - [Using Spring Boot Actuator Endpoints with Apps Manager](../console/using-actuators.html)

* [App Logging in Cloud Foundry](../devguide/deploy-apps/streaming-logs.html) - Outputting and processing app logs.

  - [Loggregator Architecture](../loggregator/architecture.html)

  - [App Log Streaming](../services/app-log-streaming.html)

  - [Streaming App Logs to Log Management Services](../devguide/services/log-management.html)

  - [Service-Specific Instructions for Streaming App Logs](../devguide/services/log-management-thirdparty-svc.html)

  - [Streaming App Logs to Splunk](../devguide/services/integrate-splunk.html)

  - [Streaming App Logs with Fluentd](../devguide/services/fluentd.html)

  - [Streaming App Logs to Azure OMS Log Analytics](../devguide/services/oms-nozzle.html)

  - [Installing the Loggregator Plugin for cf CLI](../loggregator/cli-plugin.html)

* [Buildpacks](../buildpacks/index.html) - Language-specific packaging that compiles and builds apps and all dependencies to run in the cloud.

  - [About Buildpacks](../buildpacks/using-buildpacks.html)

  - [Binary](../buildpacks/binary/index.html)

  - [Go](../buildpacks/go/index.html)

  - [Java](../buildpacks/java/index.html)

  - [.NET Core](../buildpacks/dotnet-core/index.html)

  - [Node.js](../buildpacks/node/index.html)

  - [PHP](../buildpacks/php/index.html)

  - [Python](../buildpacks/python/index.html)

  - [Ruby](../buildpacks/ruby/index.html)

  - [Staticfile](../buildpacks/staticfile/index.html)

  - [Customizing and Developing Buildpacks](../buildpacks/developing-buildpacks.html)

* [Troubleshooting App Deployment and Health](../devguide/deploy-apps/troubleshoot-app-health.html) - Tools and techniques for monitoring app health and logging into apps and service instances.

  - [Using App Health Checks](../devguide/deploy-apps/healthchecks.html)

  - [App SSH Overview](../devguide/deploy-apps/app-ssh-overview.html)

  - [Accessing Apps with SSH](../devguide/deploy-apps/ssh-apps.html)

  - [Accessing Services with SSH](../devguide/deploy-apps/ssh-services.html)

* [<%= vars.platform_name %> Dev](https://docs.pivotal.io/pcf-dev/index.html) - A lightweight PAS that runs on your workstation, for developing apps locally.

* [Cloud Controller API Client Libraries](../devguide/capi/client-libraries.html) - Libraries for calling the Cloud Controller, the executive component of PAS, programmatically.

* [Cloud Foundry Command Line Interface (cf CLI)](../cf-cli/index.html) - A CLI for calling the Cloud Controller, the executive component of PAS, interactively.

  - [Installing the cf CLI](../cf-cli/install-go-cli.html)

  - [Getting Started with the cf CLI](../cf-cli/getting-started.html)

  - [Identifying the API Endpoint for Your PAS Instance](../opsguide/api-endpoint.html)

  - [Using the cf CLI with an HTTP Proxy Server](../cf-cli/http-proxy.html)

  - [Using the cf CLI with a Self-Signed Certificate](../cf-cli/self-signed.html)

  - [Using cf CLI Plugins](../cf-cli/use-cli-plugins.html)

  - [Using Experimental cf CLI Commands](../devguide/v3-commands.html)

  - [Cloud Foundry CLI Reference Guide](../cf-cli/cf-help.html)
