---
title: Enabling PAS Users
owner: <%= vars.product_name %> Documentation
---

The topics in this subsection explain how to manage user accounts and enable the users of a Pivotal Application Service (PAS) runtime on <%= vars.product_name %>.


## <a id='overview'></a> Overview

PAS-based runtimes are opinionated development environments with built-in structures to compartmentalize, support, and track multiple independent app development teams. Enabling PAS users means:

* Inviting new users and assigning user roles
* Setting up and managing user notifications
* Setting up orgs, spaces, and segments for developer users to work in
* Giving developers access to software services and buildpacks
* Giving developers and security objects
* Enabling secure traffic between apps
* Integrating PAS with container systems and development environments

In addition to these tasks, PAS managers may also deploy apps, create service instances, and perform other tasks that PAS app developers do. For more information, see [Developer Guide](../devguide/index.html).
      

## <a id='contents'></a> Contents

### <a id='accounts'></a> User Accounts and Communications

- [Managing User Roles with Apps Manager](/pivotalcf/console/console-roles.html)

- [Creating PAS User Accounts](/pivotalcf/opsguide/creating-account.html)

- [Adding Existing SAML or LDAP Users](/pivotalcf/opsguide/external-user-management.html)

- [Creating and Managing Users with the cf CLI](/pivotalcf/adminguide/cli-user-management.html)

- [Creating and Managing Users with the UAA CLI (UAAC)](/pivotalcf/uaa/uaa-user-management.html)

- [Getting Started with the Notifications Service](/pivotalcf/adminguide/notifications.html)

### <a id='devs'></a> Enabling Developers

- [Managing Apps and Service Instances Using Apps Manager](/pivotalcf/console/manage-apps.html)

- [Managing Access to Service Plans](/pivotalcf/services/access-control.html)

- [Managing Service Instances](/pivotalcf/devguide/services/managing-services.html)

- [Managing Service Keys](/pivotalcf/devguide/services/service-keys.html)

- [Managing Custom Buildpacks](/pivotalcf/adminguide/buildpacks.html)

- [Administering Container-to-Container Networking](/pivotalcf/devguide/deploy-apps/cf-networking.html)

- [Managing Isolation Segments](/pivotalcf/adminguide/isolation-segments.html)

- [Using Docker in Cloud Foundry](/pivotalcf/adminguide/docker.html)

- [Trusted System Certificates](/pivotalcf/devguide/deploy-apps/trusted-system-certificates.html)
