---
title: Enabling PAS Users
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

The topics in this subsection explain how to manage user accounts and enable the users of a Pivotal Application Service (PAS) runtime on Pivotal Cloud Foundry (PCF).

##<a id='overview'></a>Overview

PAS-based runtimes are opinionated development environments with built-in structures to compartmentalize, support, and track multiple independent app development teams. Enabling PAS users means:

* Inviting new users and assigning user roles
* Setting up and managing user notifications
* Setting up orgs, spaces, and segments for developer users to work in
* Giving developers access to software services and buildpacks
* Giving developers and security objects
* Enabling secure traffic between apps
* Integrating PAS with container systems and development environments

In addition to these tasks, PAS managers may also deploy apps, create service instances, and perform other tasks that [PAS app developers](../devguide/index.html) do.
      
##<a id='contents'></a>Contents

### <a id='accounts'></a> User Accounts and Communications

- <a href="/pivotalcf/console/console-roles.html">Managing User Roles with Apps Manager</a>
- <a href="/pivotalcf/opsguide/creating-account.html">Creating PAS User Accounts</a>
- <a href="/pivotalcf/opsguide/external-user-management.html">Adding Existing SAML or LDAP Users</a>
- <a href="/pivotalcf/adminguide/cli-user-management.html">Creating and Managing Users with the cf CLI</a>
- <a href="/pivotalcf/uaa/uaa-user-management.html">Creating and Managing Users with the UAA CLI (UAAC)</a>
- <a href="/pivotalcf/adminguide/notifications.html">Getting Started with the Notifications Service</a>

### <a id='devs'></a> Enabling Developers

- <a href="/pivotalcf/console/manage-apps.html">Managing Apps and Service Instances Using Apps Manager</a>
- <a href="/pivotalcf/services/access-control.html">Managing Access to Service Plans</a>
- <a href="/pivotalcf/devguide/services/managing-services.html">Managing Service Instances</a>
- <a href="/pivotalcf/devguide/services/service-keys.html">Managing Service Keys</a>
- <a href="/pivotalcf/adminguide/buildpacks.html">Managing Custom Buildpacks</a>
- <a href="/pivotalcf/devguide/deploy-apps/cf-networking.html">Administering Container-to-Container Networking</a>
- <a href="/pivotalcf/adminguide/isolation-segments.html">Managing Isolation Segments</a>
- <a href="/pivotalcf/adminguide/docker.html">Using Docker in Cloud Foundry</a>
- <a href="/pivotalcf/devguide/deploy-apps/trusted-system-certificates.html">Trusted System Certificates</a>

