---
title: Enabling Elastic Runtime Users
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

The topics in this subsection explain how to manage user accounts and enable the users of a Pivotal Elastic Runtime on Pivotal Cloud Foundry (PCF).

##<a id='overview'></a>Overview

Elastic Runtime is an opinionated development environment with built-in structures to compartmentalize, support, and track multiple independent app development teams. Enabling Elastic Runtime users means:

* Inviting new users and assigning user roles
* Setting up and managing user notifications
* Setting up orgs, spaces, and segments for developer users to work in
* Giving developers access to software services and buildpacks
* Giving developers and security objects
* Enabling secure traffic between apps
* Integrating Elastic Runtime with container systems and development environments

In addition to these tasks, Elastic Runtime managers may also deploy apps, create service instances, and perform other tasks that [Elastic Runtime app developers](../devguide/index.html) do.
      
##<a id='contents'></a>Contents

### <a id='accounts'></a> User Accounts and Communications

- <a href="/pivotalcf/1-10/console/console-roles.html">Managing User Roles with Apps Manager</a>
- <a href="/pivotalcf/1-10/opsguide/creating-account.html">Creating Elastic Runtime User Accounts</a>
- <a href="/pivotalcf/1-10/opsguide/external-user-management.html">Adding Existing SAML or LDAP Users</a>
- <a href="/pivotalcf/1-10/adminguide/cli-user-management.html">Creating and Managing Users with the cf CLI</a>
- <a href="/pivotalcf/1-10/uaa/uaa-user-management.html">Creating and Managing Users with the UAA CLI (UAAC)</a>
- <a href="/pivotalcf/1-10/adminguide/notifications.html">Getting Started with the Notifications Service</a>

### <a id='devs'></a> Enabling Developers

- <a href="/pivotalcf/1-10/console/manage-apps.html">Managing Apps and Service Instances Using Apps Manager</a>
- <a href="/pivotalcf/1-10/services/access-control.html">Managing Access to Service Plans</a>
- <a href="/pivotalcf/1-10/devguide/services/managing-services.html">Managing Service Instances</a>
- <a href="/pivotalcf/1-10/devguide/services/service-keys.html">Managing Service Keys</a>
- <a href="/pivotalcf/1-10/adminguide/buildpacks.html">Managing Custom Buildpacks</a>
- <a href="/pivotalcf/1-10/devguide/deploy-apps/cf-networking.html">Administering Container-to-Container Networking</a>
- <a href="/pivotalcf/1-10/adminguide/isolation-segments.html">Managing Isolation Segments</a>
- <a href="/pivotalcf/1-10/console/spring-boot-actuators.html">Configuring Spring Boot Actuator Endpoints for Apps Manager</a>
- <a href="/pivotalcf/1-10/console/using-actuators.html">Using Spring Boot Actuator Endpoints with Apps Manager</a>
- <a href="/pivotalcf/1-10/adminguide/docker.html">Using Docker in Cloud Foundry</a>
- <a href="/pivotalcf/1-10/devguide/using-tasks.html">Running Tasks</a>
- <a href="/pivotalcf/1-10/devguide/deploy-apps/trusted-system-certificates.html">Trusted System Certificates</a>

