---
breadcrumb: Pivotal Cloud Foundry Documentation
title: PAS Administrator Guide
owner: PCF Documentation
---

##<a id='who'></a>For PAS Administrators

This guide shows you how to manage application runtimes on Pivotal Cloud Foundry (PCF), including Pivotal Application Runtime (PAS), PAS for Windows 2012R2, Isolation Segment, and the Small Footprint Runtime.

This ongoing responsibility may include but is not limited to:

* Managing app routes and domains
* Managing orgs, spaces, and platform settings
* Analyzing app logs and generating usage reports
* Managing users and user roles
* Managing org and space billing
* Managing service plan access and service instances
* Enabling secure app communications
* Integrating app development tools 

If you do these things, you are a PAS **Administrator**. You have an Admin or Manager [role](../concepts/roles.html#roles) in PAS, and the contents of this guide are for you.

All PCF Operators can [access credentials](../customizing/console-login.html) that grant them the Admin role.

Procedures that require logging into Ops Manager or the BOSH Director are beyond the scope of this guide, because they require accounts with the Ops Manager user authentication and access (UAA) server, not the PAS Cloud Controller UAA. For Ops Manager user documentation, see the [PCF Operators Guide](../opsguide/index.html) and the [PCF Architecture and Installation Guide](../installing/index.html).

##<a id='contents'></a>Guide Contents

* <a href="/pivotalcf/2-0/pas/manage-platform.html">Managing the PAS Platform</a>

	- Managing Routes and Domains
	- Managing Orgs, Spaces, and Platform Settings
	- App Logs and Usage Reports

* <a href="/pivotalcf/2-0/pas/enable-users.html">Enabling PAS Users</a>

	- User Accounts and Communications
	- Enabling Developers

* <a href="/pivotalcf/2-0/cf-cli/index.html">Cloud Foundry Command Line Interface (cf CLI)</a> - Using the cf CLI to send commands to the Cloud Controller, the executive component of PAS.

