---
breadcrumb: Pivotal Cloud Foundry Documentation
title: Introduction to PCF
owner: PCF Documentation
---

##<a id='who'></a>Welcome to Pivotal Cloud Foundry

This guide gives a high-level conceptual overview and introduction to the Pivotal Cloud Foundry (PCF) platform. It is designed to:

* Introduce the platform to people who are unfamiliar with it.

* Provide context and explanations that support the how-to information in the PCF Documentation's role-based guides.

* Explain how you can get started running apps on PCF in two ways:

  - Install and run <a href="/pcf-dev/index.html">PCF Dev</a>, a free, lightweight version of PCF that enables you to develop and run Pivotal Elastic Runtime apps on your local workstation.

  - Subscribe to <a href="http://docs.run.pivotal.io/starting/index.html">Pivotal Web Services</a> (PWS), a full PCF platform hosted by Pivotal.

If you want to learn about how the PCF platform works or test it out yourself, this guide is for you.

##<a id='contents'></a>Contents

* <a href="/pivotalcf/1-12/concepts/overview.html">Cloud Foundry Overview</a> - A general introduction to [Cloud Foundry Application Runtime](https://www.cloudfoundry.org/application-runtime/), the open-source software that underlies PCF and Elastic Runtime. Read this first.  

  - <a href="/pivotalcf/1-12/opsguide/er_network.html">Understanding the Elastic Runtime Network Architecture</a>

  - <a href="/pivotalcf/1-12/concepts/diego/diego-architecture.html">How the Diego Auction Balances Jobs</a>

  - <a href="/pivotalcf/1-12/concepts/diego/diego-auction.html">How the Diego Auction Balances App Processes</a>

  - <a href="/pivotalcf/1-12/concepts/how-applications-are-staged.html">How Applications are Staged</a>

  - <a href="/pivotalcf/1-12/devguide/deploy-apps/app-ssh-overview.html">Application SSH Overview</a>

  - <a href="/pivotalcf/1-12/concepts/high-availability.html">High Availability in Cloud Foundry</a>


* <a href="/pivotalcf/1-12/customizing/user-types.html">Understanding Pivotal Cloud Foundry User Types</a> - Explains the main categories of PCF users: the operators who run the platform, the runtime users who develop and manage apps and containers on the platform, and the end users who use the cloud-based apps that the platform hosts.

  - <a href="/pivotalcf/1-12/concepts/roles.html">Orgs, Spaces, Roles, and Permissions</a>

* <a href="/pivotalcf/1-12/concepts/architecture/index.html">Elastic Runtime Components</a> - Describes the internal components of Elastic Runtime, and how these specialized processes work together to support, maintain, and provide control over hosted apps.  Each component performs a different function within the platform.

  - <a href="/pivotalcf/1-12/concepts/architecture/cloud-controller.html">Component: Cloud Controller</a>

  - <a href="/pivotalcf/1-12/concepts/architecture/messaging-nats.html">Component: Messaging (NATS)</a>

  - <a href="/pivotalcf/1-12/concepts/architecture/router.html">Component: Gorouter</a>

  - <a href="/pivotalcf/1-12/concepts/architecture/uaa.html">Component: User Account and Authentication (UAA) Server</a>

  - <a href="/pivotalcf/1-12/concepts/architecture/garden.html">Component: Garden</a>

  - <a href="/pivotalcf/1-12/concepts/http-routing.html">Component: HTTP Routing</a>

  - <a href="/pivotalcf/1-12/concepts/diego/ssh-conceptual.html">Application SSH Components and Processes</a>

* <a href="/pivotalcf/1-12/concepts/security.html">Understanding Cloud Foundry Security</a> - An overview of how PCF and Elastic Runtime protect their internal components and hosted apps from security threats.

  - <a href="/pivotalcf/1-12/security/concepts/index.html">Security Concepts</a>

  - <a href="/pivotalcf/1-12/security/process/index.html">PCF Security Processes</a>

  - <a href="/pivotalcf/1-12/security/process/pcf-security.html">Pivotal Cloud Foundry Security Overview and Policy</a>

  - <a href="/pivotalcf/1-12/security/process/security-lifecycle.html">PCF Testing, Release, and Security Lifecycle</a>

  - <a href="/pivotalcf/1-12/concepts/container-security.html">Understanding Container Security</a>

  - <a href="/pivotalcf/1-12/concepts/understand-cf-networking.html">Understanding Container-to-Container Networking</a>

* <a href="/pcf-dev/index.html">PCF Dev</a> - A lightweight Elastic Runtime that runs on your workstation, for developing apps locally. 

* <a href="http://docs.run.pivotal.io/starting/index.html">Pivotal Web Services</a> - A subscription PCF installation operated by Pivotal.


