---
title: Managing the Elastic Runtime Platform
owner: PCF Documentation
---

<strong><%= modified_date %></strong>

The topics in this subsection explain how to manage the structure and capabilities of an application runtime on Pivotal Cloud Foundry (PCF), such as Pivotal Elastic Runtime.

##<a id='overview'></a>Overview

Elastic Runtime is an opinionated development environment with built-in structures to compartmentalize, support, and track multiple independent app development teams. Managing this environment includes:

* Managing Routes and Domains
* Managing Orgs, Spaces, and Platform Settings
* Generating App Logs and Usage Reports

In addition to these tasks, Elastic Runtime managers may also deploy apps, create service instances, and perform other tasks that [Elastic Runtime app developers](../devguide/index.html) do.
      
##<a id='contents'></a>Contents

### <a id='routes'></a> Managing Routes and Domains

- <a href="/pivotalcf/devguide/deploy-apps/routes-domains.html">Routes and Domains</a>

### <a id='org-space'></a> Managing Orgs, Spaces, and Platform Settings

- <a href="/pivotalcf/1-12/console/dev-console.html">Getting Started with Apps Manager</a>
- <a href="/pivotalcf/1-12/customizing/console-login.html">Logging into Apps Manager</a>
- <a href="/pivotalcf/1-12/console/manage-spaces.html">Managing Orgs and Spaces Using Apps Manager</a>
- <a href="/pivotalcf/1-12/console/space-asgs.html">Viewing ASGs in Apps Manager</a>
- <a href="/pivotalcf/1-12/adminguide/quota-plans.html">Creating and Modifying Quota Plans</a>
- <a href="/pivotalcf/1-12/adminguide/listing-feature-flags.html">Feature Flags</a>
- <a href="/pivotalcf/1-12/devguide/deploy-apps/environment-variable.html">Cloud Foundry Environment Variables</a>

### <a id='logs'></a> Generating App Logs and Usage Reports

- <a href="/pivotalcf/1-12/devguide/deploy-apps/streaming-logs.html">Application Logging in Cloud Foundry</a>
- <a href="/pivotalcf/1-12/opsguide/accounting-report.html">Reporting App, Task, and Service Instance Usage</a>
- <a href="/pivotalcf/1-12/opsguide/accounting-report-apps-man.html">Reporting Instance Usage with Apps Manager</a>
- <a href="/pivotalcf/1-12/devguide/deploy-apps/healthchecks.html">Using Application Health Checks</a>
- <a href="/pivotalcf/1-12/loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a>
