---
title: Managing the PAS Platform
owner: PCF Documentation
---

The topics in this subsection explain how to manage the structure and capabilities of an app runtime on <%= vars.product_full %>, such as Pivotal Application Service (PAS).


## <a id='overview'></a> Overview

PAS-based runtimes are opinionated development environments with built-in structures to compartmentalize, support, and track multiple independent app development teams. Managing this environment includes:

* Managing Routes and Domains
* Managing Orgs, Spaces, and Platform Settings
* Generating App Logs and Usage Reports

In addition to these tasks, PAS managers may also deploy apps, create service instances, and perform other tasks that [PAS app developers](../devguide/index.html) do.


## <a id='contents'></a> Contents

### <a id='routes'></a> Managing Routes and Domains

- [Routes and Domains](../devguide/deploy-apps/routes-domains.html)

### <a id='org-space'></a> Managing Orgs, Spaces, and Platform Settings

- [Getting Started with Apps Manager](../console/dev-console.html)

- [Logging Into Apps Manager](../customizing/console-login.html)

- [Managing Orgs and Spaces Using Apps Manager](../console/manage-spaces.html)

- [Viewing ASGs in Apps Manager](../console/space-asgs.html)

- [Creating and Modifying Quota Plans](../adminguide/quota-plans.html)

- [Feature Flags](../adminguide/listing-feature-flags.html)

- [PAS Environment Variables](../devguide/deploy-apps/environment-variable.html)

### <a id='logs'></a> Generating App Logs and Usage Reports

- [App Logging in PAS](../devguide/deploy-apps/streaming-logs.html)

- [Reporting App, Task, and Service Instance Usage](../opsguide/accounting-report.html)

- [Reporting Instance Usage with Apps Manager](../opsguide/accounting-report-apps-man.html)

- [Using App Health Checks](../devguide/deploy-apps/healthchecks.html)

- [Installing the Loggregator Plugin for cf CLI](../loggregator/cli-plugin.html)
