---
title: Managing the PAS Platform
owner: <%= vars.product_name %> Documentation
---

The topics in this subsection explain how to manage the structure and capabilities of an application runtime on <%= vars.product_name %>, such as Pivotal Application Service (PAS).


## <a id='overview'></a>Overview

PAS-based runtimes are opinionated development environments with built-in structures to compartmentalize, support, and track multiple independent app development teams. Managing this environment includes:

* Managing routes and domains
* Managing orgs, spaces, and platform settings
* Generating app logs and usage reports

In addition to these tasks, PAS managers may also deploy apps, create service instances, and perform other tasks that PAS app developers do. For more information, see [Developer Guide](../devguide/index.html).
      

## <a id='contents'></a> Contents

### <a id='routes'></a> Managing Routes and Domains

- [Routes and Domains](/platform/devguide/deploy-apps/routes-domains.html)


### <a id='org-space'></a> Managing Orgs, Spaces, and Platform Settings

- [Getting Started with Apps Manager](/platform/console/dev-console.html)

- [Logging into Apps Manager](/platform/customizing/console-login.html)

- [Managing Orgs and Spaces Using Apps Manager](/platform/console/manage-spaces.html)

- [Viewing ASGs in Apps Manager](/platform/console/space-asgs.html)

- [Creating and Modifying Quota Plans](/platform/adminguide/quota-plans.html)

- [Feature Flags](/platform/adminguide/listing-feature-flags.html)

- [Cloud Foundry Environment Variables](/platform/devguide/deploy-apps/environment-variable.html)

### <a id='logs'></a> Generating App Logs and Usage Reports

- [App Logging in Cloud Foundry](/platform/devguide/deploy-apps/streaming-logs.html)

- [Reporting App, Task, and Service Instance Usage](/platform/opsguide/accounting-report.html)

- [Reporting Instance Usage with Apps Manager](/platform/opsguide/accounting-report-apps-man.html)

- [Using App Health Checks](/platform/devguide/deploy-apps/healthchecks.html)

- [Installing the Loggregator Plugin for cf CLI](/platform/loggregator/cli-plugin.html)
